<%- include('template/header') %>

    <% if (msg && typeof msg === 'string' && msg.trim() !== '') { %>
        <div id="toast" class="toast centered"><%= msg %></div>
        <script>
            window.addEventListener('DOMContentLoaded', function () {
                const toast = document.getElementById('toast');
                toast.classList.add('show');
                setTimeout(() => {
                    toast.classList.remove('show');
                }, 4000);
            });
            window.history.replaceState(null, "", window.location.pathname);
        </script>   
    <% } %>

    <% vacaciones.forEach(vacacion => { %>
        <div class="container-vacacion-estado">
            <!-- From Uiverse.io by Yaya12085 --> 
                <div class="form-container-vacacion-estado">

                    <div class="tools">
                        <% if (vacacion.estado == 'Rechazado') { %>
                            <div class="circle">
                            <span class="red box"></span>
                            </div>
                        <% } %>

                        <% if (vacacion.estado == 'Pendiente') { %>
                            <div class="circle">
                            <span class="yellow box"></span>
                            </div>
                        <% } %>

                        <% if (vacacion.estado == 'Aprobado') { %>
                            <div class="circle">
                            <span class="green box"></span>
                            </div>
                        <% } %>
                    </div>

                    <p class="title">VACACÍON</p>

                        <div class="input-group field">
                            <label for="empleado">Empleado</label>
                            <p><%= vacacion.empleado %></p>
                        </div>

                        <div class="flex">

                            <div class="input-group field">
                                <label for="fecha_inicio">Fecha Inicio</label>
                                <p><%= new Date(vacacion.fecha_inicio).toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></p>  
                            </div>
        
                            <div class="input-group field">
                                <label for="fecha_fin">Fecha Fin</label>
                                <p><%= new Date(vacacion.fecha_fin).toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></p>  
                            </div>

                        </div>

                        <div class="flex">

                            <div class="input-group">
                                <label for="id_manager">Manager</label>
                                <p class="text"><%= vacacion.manager %></p>
                            </div>
                            
                            <div class="input-group">
                                <label for="id_rrhh">Recursos Humanos</label>
                                <p class="text"><%= vacacion.rrhh %></p>
                            </div>

                        </div>

                        <div class="input-group field">
                            <label for="motivo">Motivo de la solicitud</label>
                            <p><%= vacacion.motivo %></p>
                        </div>

                </div>
                
            </div>
        <% }) %>

<%- include('template/footer') %>