<%- include('template/header') %>

    <% vacaciones.forEach(vacacion => { %>
        <div class="container-vacacion-estado">
            <!-- From Uiverse.io by Yaya12085 --> 
                <div class="form-container-vacacion-estado">

                    <div class="tools">
                        <% if (vacacion.estado == 'Rechazado') { %>
                            <div class="circle">
                            <span class="red box"></span>
                            </div>
                        <% } %>

                        <% if (vacacion.estado == 'Pendiente') { %>
                            <div class="circle">
                            <span class="yellow box"></span>
                            </div>
                        <% } %>

                        <% if (vacacion.estado == 'Aprobado') { %>
                            <div class="circle">
                            <span class="green box"></span>
                            </div>
                        <% } %>
                    </div>

                    <p class="title">VACACÍON</p>

                    <!-- <form class="form" action="/vacaciones/crear" method="post"> -->

                        <div class="input-group field">
                            <label for="empleado">Empleado</label>
                            <p><%= vacacion.empleado %></p>
                        </div>

                        <div class="flex">

                            <div class="input-group field">
                                <label for="fecha_inicio">Fecha Inicio</label>
                                <p><%= new Date(vacacion.fecha_inicio).toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></p>  
                            </div>
        
                            <div class="input-group field">
                                <label for="fecha_fin">Fecha Fin</label>
                                <p><%= new Date(vacacion.fecha_fin).toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></p>  
                            </div>

                        </div>

                        <div class="flex">

                            <div class="input-group">
                                <label for="id_manager">Manager</label>
                                <p class="text"><%= vacacion.manager %></p>
                            </div>
                            
                            <div class="input-group">
                                <label for="id_rrhh">Recursos Humanos</label>
                                <p class="text"><%= vacacion.rrhh %></p>
                            </div>

                        </div>

                        <div class="input-group">
                            <label for="motivo">Motivo</label>
                            <textarea name="motivo" id="motivo"></textarea>
                        </div>

                        <p class="signup">
                            Ingresa el motivo
                        </p>

                        <div class="flex">
                            <div class="input-group">
                                <button class="aceptar">Aceptar</button>                      
                            </div>  
                            <div class="input-group">
                                <button class="rechazar">Rechazar</button>
                            </div>
                        </div>
                        
                    <!-- </form> -->

                </div>
                
            </div>
        <% }) %>

<%- include('template/footer') %>