<%- include('template/header') %>
<body>
    <div class="container">
    <% vacaciones.forEach(vacacion => { %>
        <div class="cardPadding">
            <div class="card">
                <div class="tools">
                    <% if (vacacion.estado == 'Rechazado') { %>
                        <div class="circle">
                        <span class="red box"></span>
                        </div>
                    <% } %>

                    <% if (vacacion.estado == 'Pendiente') { %>
                        <div class="circle">
                        <span class="yellow box"></span>
                        </div>
                    <% } %>

                    <% if (vacacion.estado == 'Aprobado') { %>
                        <div class="circle">
                        <span class="green box"></span>
                        </div>
                    <% } %>
                </div>
                <div class="card__content">
                    <h1 class="title">Vacación</h1>

                    <h3>Empleado: </h3>
                    <p class="text"><%= vacacion.empleado %></p>

                    <h3>Manager: </h3>
                    <p class="text"><%= vacacion.manager %></p>

                    <h3>Empleado de rrhh: </h3>
                    <p class="text"><%= vacacion.rrhh %></p>
                    
                    <h3>Fecha de inicio: </h3>
                    <p class="text"><%= new Date(vacacion.fecha_inicio).toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></p>      

                    <h3>Fecha de fin: </h3>
                    <p class="text"><%= new Date(vacacion.fecha_fin).toLocaleDateString('es-ES', { day: '2-digit', month: 'short', year: 'numeric' }) %></p>

                     <div class="container">
                        <div class="button-container">
                            <button onclick="openModal('<%= vacacion.id_vacacion %>', '<%= vacacion.id_usuario %>', 'aceptar')" class="button green-dark">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <div class="front">
                                    <span>Aceptar</span>
                                </div>
                            </button>

                            <button  onclick="openModal('<%= vacacion.id_vacacion %>', '<%= vacacion.id_usuario %>', 'rechazar')" class="button red-dark">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <div class="front">
                                    <span>Rechazar</span>
                                </div>
                            </button>
                        </div>
                     </div>
                    
                </div>
            </div>
        </div>
    <% }) %>
    </div>
    <div id="reasonModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="modalTitle"></h2>
            <textarea id="reasonText" placeholder="Escribe el motivo..." required></textarea>
            <button  onclick="sendApproval()" class="button white">
                <span class="shadow"></span>
                <span class="edge"></span>
                <div class="front">
                    <span>Enviar</span>
                </div>
            </button>
        </div>
    </div>
</body>
<%- include('template/footer') %>